{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="styles/projects.css") }}">
{% endblock %}
{% block content %}
<h1>Projects</h1>
    <h2>Personal Projects</h2>
        <ul>
            <li>My Notes (Django & SQLite)</li>
            <li>My Todo List (Flask & SQL Alchemy)</li>
            <li>Personal Website (Flask)</li>
        </ul>
    <h2>Undergraduate Projects</h2>
        <ul>
            <li>3D Object Painter (C++)</li>
            <li>TreeMap with Scapegoat Tree (C++)</li>
            <li>Browser Tab Mechanism Implementation (C++)</li>
            <li>Truth Table Generator (C)</li>
        </ul>
{% endblock %}
