{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for("static", filename="styles/projects.css") }}">
{% endblock %}
{% block content %}
<h1>Projects</h1>
    <h2>Undergraduate Projects</h2>
        <ul>
            <li>3D Object Painter (C++)</li>
            <li>TreeMap with Scapegoat Tree (C++)</li>
            <li>Browser Tab Mechanism Implementation (C++)</li>
            <li>Truth Table Generator (C)</li>
        </ul>
    <h2>Other Projects</h2>
        <ul>
            <li>My Todo List (Python/Flask, SQL Alchemy, HTML, CSS, Sass, Bootstrap)</li>
            <li>Personal Website (Python/Flask, HTML, CSS, Sass, Bootstrap)</li>
            <li>Calculator (Python/Tkinter)</li>
            <li>Unit Converter (Python/Tkinter)</li>
            <li>Search Engine UI (HTML, CSS, Sass, Bootstrap)</li>
            <li>Date and Leap Year Calculator (Python/Tkinter)</li>
            <li>Temperature Converter (Python/Tkinter)</li>
        </ul>
{% endblock %}
